body {
  background-color: #000;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #000;
}
.win-message {
  text-transform: uppercase;
  text-align: center;
  color: #E8BD0D;
  font-size: 40px;
}
.turn-message {
  text-transform: uppercase;
  text-align: center;
  color: #CAD5E2;
  font-size: 30px;
}